In [2]:
import numpy as np
from IPython.display import display
import pandas as pd

In [6]:
df = pd.read_csv(r"C:\Users\PC\Desktop\AI Course - E-Com\files\sport_athletes.csv")
df

,Country,Sport Type,Athlete Name,Height(cm),Weight(kg),Wins,Olympic Date
0,USA,Basketball,Michael Jordan,198,98,3,08/08/1992
1,USA,Basketball,LeBron James,206,113,2,15/08/2008
2,USA,Basketball,Kobe Bryant,198,96,2,24/08/2012
3,USA,Basketball,Kevin Durant,208,109,3,10/08/2016
4,USA,Basketball,Shaquille O'Neal,216,147,1,22/08/2000
5,Brazil,Soccer,Pel√©,174,72,3,18/08/1970
6,Brazil,Soccer,Marta,163,57,3,01/08/2004
7,Portugal,Soccer,Cristiano Ronaldo,187,83,2,25/08/2008
8,Argentina,Soccer,Lionel Messi,170,69,2,11/08/2016
9,France,Soccer,Zinedine Zidane,185,80,3,17/08/1998
10,USA,Soccer,Megan Rapinoe,168,62,2,05/08/2020
11,USA,Swimming,Michael Phelps,193,88,5,16/08/2004
12,USA,Swimming,Katie Ledecky,180,58,4,25/08/2012
13,USA,Swimming,Caeleb Dressel,191,88,3,06/08/2016
14,Australia,Swimming,Ian Thorpe,196,85,4,11/08/2000
15,China,Swimming,Sun Yang,200,90,3,08/08/2012
16,Switzerland,Tennis,Roger Federer,185,85,2,28/07/2008
17,USA,Tennis,Serena Williams,175,70,4,01/08/2012
18,Spain,Tennis,Rafael Nadal,185,85,3,05/08/2016
19,Serbia,Tennis,Novak Djokovic,188,84,4,10/08/2020
20,Jamaica,Track and Field,Usain Bolt,195,94,6,22/08/2012
21,USA,Track and Field,Carl Lewis,188,81,4,15/08/1984
22,UK,Track and Field,Mo Farah,176,65,5,05/08/2016
23,USA,Track and Field,Florence Griffith,165,57,4,18/08/1988
24,USA,Track and Field,Ashton Eaton,185,77,3,08/08/2016
25,UK,Cycling,Chris Froome,180,70,4,08/08/2012
26,Belgium,Cycling,Eddy Merckx,181,72,5,15/08/1980
27,Slovenia,Cycling,Tadej Pogacar,184,69,3,11/08/2020
28,Slovenia,Cycling,Primoz Roglic,186,68,3,05/08/2016
29,UK,Cycling,Geraint Thomas,183,71,4,08/08/2008
30,Netherlands,Cycling,Anna van der Breggen,175,68,4,10/08/2020
31,USA,Gymnastics,Simone Biles,142,48,5,05/08/2016
32,Romania,Gymnastics,Nadia Comaneci,155,50,5,18/08/1976
33,USA,Gymnastics,Aly Raisman,160,52,3,10/08/2012
34,USA,Gymnastics,Shawn Johnson,157,50,3,15/08/2008
35,USA,Gymnastics,Gabby Douglas,150,45,3,11/08/2016

In [18]:
# 1. 
df.groupby('Sport Type').agg({'Weight(kg)': 'min', 'Height(cm)': 'max', 'Wins': 'max'}).rename(columns={'Weight(kg)': 'max_weight', 'Height(cm)': 'max_height', 'Wins': 'max_wins'})

                 max_weight  max_height  max_wins
Sport Type
Basketball               96         216         3
Cycling                  68         186         5
Gymnastics               45         160         5
Soccer                   57         187         3
Swimming                 58         200         5
Tennis                   70         188         4
Track and Field          57         195         6

In [38]:
# 2. 
df.groupby('Sport Type')['Height(cm)'].nlargest(2)

Sport Type
Basketball       4     216
                 3     208
Cycling          28    186
                 27    184
Gymnastics       33    160
                 34    157
Soccer           7     187
                 9     185
Swimming         15    200
                 14    196
Tennis           19    188
                 16    185
Track and Field  20    195
                 21    188
Name: Height(cm), dtype: int64

In [66]:
# 3.a. 
df.groupby(['Country', 'Sport Type']).agg({'Weight(kg)': 'max', 'Height(cm)': 'max', 'Wins': 'max'})

                             Weight(kg)  Height(cm)  Wins
Country     Sport Type
Argentina   Soccer                   69         170     2
Australia   Swimming                 85         196     4
Belgium     Cycling                  72         181     5
Brazil      Soccer                   72         174     3
China       Swimming                 90         200     3
France      Soccer                   80         185     3
Jamaica     Track and Field          94         195     6
Netherlands Cycling                  68         175     4
Portugal    Soccer                   83         187     2
Romania     Gymnastics               50         155     5
Serbia      Tennis                   84         188     4
Slovenia    Cycling                  69         186     3
Spain       Tennis                   85         185     3
Switzerland Tennis                   85         185     2
UK          Cycling                  71         183     4
            Track and Field          65         176     5
USA         Basketball              147         216     3
            Gymnastics               52         160     5
            Soccer                   62         168     2
            Swimming                 88         193     5
            Tennis                   70         175     4
            Track and Field          81         188     4

In [70]:
# 3.b. 
df.groupby(['Country', 'Sport Type']).agg({'Weight(kg)': 'max', 'Height(cm)': 'max', 'Wins': 'max'}).loc['USA','Basketball']

Weight(kg)    147
Height(cm)    216
Wins            3
Name: (USA, Basketball), dtype: int64

In [90]:
# 3.c. 
df.groupby(['Country', 'Sport Type']).agg({'Weight(kg)': 'max', 'Height(cm)': 'max', 'Wins': 'max'}).xs(level='Sport Type', key='Soccer')

           Weight(kg)  Height(cm)  Wins
Country
Argentina          69         170     2
Brazil             72         174     3
France             80         185     3
Portugal           83         187     2
USA                62         168     2

In [102]:
# 3.d. 
df[df['Sport Type'].isin(['Tennis', 'Soccer'])].groupby('Sport Type').max()

           Country     Athlete Name  Height(cm)  Weight(kg)  Wins Olympic Date
Sport Type
Soccer         USA  Zinedine Zidane         187          83     3   25/08/2008
Tennis         USA  Serena Williams         188          85     4   28/07/2008

In [114]:
# 3.e. 
df.groupby(['Country', 'Sport Type']).max().swaplevel().sort_index(level=['Sport Type', 'Country'])

                                     Athlete Name  Height(cm)  Weight(kg)  \
Sport Type      Country
Basketball      USA              Shaquille O'Neal         216         147
Cycling         Belgium               Eddy Merckx         181          72
                Netherlands  Anna van der Breggen         175          68
                Slovenia            Tadej Pogacar         186          69
                UK                 Geraint Thomas         183          71
Gymnastics      Romania            Nadia Comaneci         155          50
                USA                  Simone Biles         160          52
Soccer          Argentina            Lionel Messi         170          69
                Brazil                       Pel√©         174          72
                France            Zinedine Zidane         185          80
                Portugal        Cristiano Ronaldo         187          83
                USA                 Megan Rapinoe         168          62
Swimming        Australia              Ian Thorpe         196          85
                China                    Sun Yang         200          90
                USA                Michael Phelps         193          88
Tennis          Serbia             Novak Djokovic         188          84
                Spain                Rafael Nadal         185          85
                Switzerland         Roger Federer         185          85
                USA               Serena Williams         175          70
Track and Field Jamaica                Usain Bolt         195          94
                UK                       Mo Farah         176          65
                USA             Florence Griffith         188          81

                             Wins Olympic Date
Sport Type      Country
Basketball      USA             3   24/08/2012
Cycling         Belgium         5   15/08/1980
                Netherlands     4   10/08/2020
                Slovenia        3   11/08/2020
                UK              4   08/08/2012
Gymnastics      Romania         5   18/08/1976
                USA             5   15/08/2008
Soccer          Argentina       2   11/08/2016
                Brazil          3   18/08/1970
                France          3   17/08/1998
                Portugal        2   25/08/2008
                USA             2   05/08/2020
Swimming        Australia       4   11/08/2000
                China           3   08/08/2012
                USA             5   25/08/2012
Tennis          Serbia          4   10/08/2020
                Spain           3   05/08/2016
                Switzerland     2   28/07/2008
                USA             4   01/08/2012
Track and Field Jamaica         6   22/08/2012
                UK              5   05/08/2016
                USA             4   18/08/1988

In [122]:
# 3.f. 
df.agg({'Height(cm)': ['max', 'min', 'mean', 'std'], 'Wins': ['max', 'min', 'mean', 'std']})

      Height(cm)      Wins
max   216.000000  6.000000
min   142.000000  1.000000
mean  181.333333  3.388889
std    16.568473  1.102666

In [138]:
# 4. 
new_rows = pd.DataFrame({ 'Country': ['Canada', 'USA'], 'Sport Type': ['Hockey', 'Skiing'],
'Athlete Name': ['Wayne Gretzky', 'Lindsey Vonn'], 'Height(cm)': [183, 172],
'Weight(kg)': [84, 68], 'Wins': [3, 4], 'Olympic Date': ['01/02/2002', '12/02/2010'] })

pd.concat([df, new_rows])

,Country,Sport Type,Athlete Name,Height(cm),Weight(kg),Wins,Olympic Date
0,USA,Basketball,Michael Jordan,198,98,3,08/08/1992
1,USA,Basketball,LeBron James,206,113,2,15/08/2008
2,USA,Basketball,Kobe Bryant,198,96,2,24/08/2012
3,USA,Basketball,Kevin Durant,208,109,3,10/08/2016
4,USA,Basketball,Shaquille O'Neal,216,147,1,22/08/2000
5,Brazil,Soccer,Pel√©,174,72,3,18/08/1970
6,Brazil,Soccer,Marta,163,57,3,01/08/2004
7,Portugal,Soccer,Cristiano Ronaldo,187,83,2,25/08/2008
8,Argentina,Soccer,Lionel Messi,170,69,2,11/08/2016
9,France,Soccer,Zinedine Zidane,185,80,3,17/08/1998
10,USA,Soccer,Megan Rapinoe,168,62,2,05/08/2020
11,USA,Swimming,Michael Phelps,193,88,5,16/08/2004
12,USA,Swimming,Katie Ledecky,180,58,4,25/08/2012
13,USA,Swimming,Caeleb Dressel,191,88,3,06/08/2016
14,Australia,Swimming,Ian Thorpe,196,85,4,11/08/2000
15,China,Swimming,Sun Yang,200,90,3,08/08/2012
16,Switzerland,Tennis,Roger Federer,185,85,2,28/07/2008
17,USA,Tennis,Serena Williams,175,70,4,01/08/2012
18,Spain,Tennis,Rafael Nadal,185,85,3,05/08/2016
19,Serbia,Tennis,Novak Djokovic,188,84,4,10/08/2020
20,Jamaica,Track and Field,Usain Bolt,195,94,6,22/08/2012
21,USA,Track and Field,Carl Lewis,188,81,4,15/08/1984
22,UK,Track and Field,Mo Farah,176,65,5,05/08/2016
23,USA,Track and Field,Florence Griffith,165,57,4,18/08/1988
24,USA,Track and Field,Ashton Eaton,185,77,3,08/08/2016
25,UK,Cycling,Chris Froome,180,70,4,08/08/2012
26,Belgium,Cycling,Eddy Merckx,181,72,5,15/08/1980
27,Slovenia,Cycling,Tadej Pogacar,184,69,3,11/08/2020
28,Slovenia,Cycling,Primoz Roglic,186,68,3,05/08/2016
29,UK,Cycling,Geraint Thomas,183,71,4,08/08/2008
30,Netherlands,Cycling,Anna van der Breggen,175,68,4,10/08/2020
31,USA,Gymnastics,Simone Biles,142,48,5,05/08/2016
32,Romania,Gymnastics,Nadia Comaneci,155,50,5,18/08/1976
33,USA,Gymnastics,Aly Raisman,160,52,3,10/08/2012
34,USA,Gymnastics,Shawn Johnson,157,50,3,15/08/2008
35,USA,Gymnastics,Gabby Douglas,150,45,3,11/08/2016
0,Canada,Hockey,Wayne Gretzky,183,84,3,01/02/2002
1,USA,Skiing,Lindsey Vonn,172,68,4,12/02/2010

In [142]:
# 5. 
smoking = pd.read_csv(r"C:\Users\PC\Desktop\AI Course - E-Com\files\athletes_smoking.csv")
pd.merge(df, smoking, on='Athlete Name', how='inner')

,Country,Sport Type,Athlete Name,Height(cm),Weight(kg),Wins,Olympic Date,Smoking
0,USA,Basketball,Michael Jordan,198,98,3,08/08/1992,No
1,USA,Basketball,LeBron James,206,113,2,15/08/2008,No
2,USA,Basketball,Kobe Bryant,198,96,2,24/08/2012,Yes
3,USA,Basketball,Kevin Durant,208,109,3,10/08/2016,No
4,USA,Basketball,Shaquille O'Neal,216,147,1,22/08/2000,No
5,Portugal,Soccer,Cristiano Ronaldo,187,83,2,25/08/2008,No
6,Argentina,Soccer,Lionel Messi,170,69,2,11/08/2016,Yes
7,USA,Soccer,Megan Rapinoe,168,62,2,05/08/2020,No
8,Australia,Swimming,Ian Thorpe,196,85,4,11/08/2000,No
9,Spain,Tennis,Rafael Nadal,185,85,3,05/08/2016,No
10,Jamaica,Track and Field,Usain Bolt,195,94,6,22/08/2012,No
11,USA,Track and Field,Carl Lewis,188,81,4,15/08/1984,Yes
12,USA,Gymnastics,Simone Biles,142,48,5,05/08/2016,No

In [144]:
# 5. 
pd.merge(df, smoking, on='Athlete Name', how='outer')

,Country,Sport Type,Athlete Name,Height(cm),Weight(kg),Wins,Olympic Date,Smoking
0,USA,Gymnastics,Aly Raisman,160.0,52.0,3.0,10/08/2012,NaN
1,Netherlands,Cycling,Anna van der Breggen,175.0,68.0,4.0,10/08/2020,NaN
2,USA,Track and Field,Ashton Eaton,185.0,77.0,3.0,08/08/2016,NaN
3,USA,Swimming,Caeleb Dressel,191.0,88.0,3.0,06/08/2016,NaN
4,USA,Track and Field,Carl Lewis,188.0,81.0,4.0,15/08/1984,Yes
5,UK,Cycling,Chris Froome,180.0,70.0,4.0,08/08/2012,NaN
6,Portugal,Soccer,Cristiano Ronaldo,187.0,83.0,2.0,25/08/2008,No
7,Belgium,Cycling,Eddy Merckx,181.0,72.0,5.0,15/08/1980,NaN
8,USA,Track and Field,Florence Griffith,165.0,57.0,4.0,18/08/1988,NaN
9,USA,Gymnastics,Gabby Douglas,150.0,45.0,3.0,11/08/2016,NaN
10,UK,Cycling,Geraint Thomas,183.0,71.0,4.0,08/08/2008,NaN
11,Australia,Swimming,Ian Thorpe,196.0,85.0,4.0,11/08/2000,No
12,USA,Swimming,Katie Ledecky,180.0,58.0,4.0,25/08/2012,NaN
13,USA,Basketball,Kevin Durant,208.0,109.0,3.0,10/08/2016,No
14,USA,Basketball,Kobe Bryant,198.0,96.0,2.0,24/08/2012,Yes
15,USA,Basketball,LeBron James,206.0,113.0,2.0,15/08/2008,No
16,NaN,NaN,Lindsey Vonn,NaN,NaN,NaN,NaN,No
17,Argentina,Soccer,Lionel Messi,170.0,69.0,2.0,11/08/2016,Yes
18,Brazil,Soccer,Marta,163.0,57.0,3.0,01/08/2004,NaN
19,USA,Soccer,Megan Rapinoe,168.0,62.0,2.0,05/08/2020,No
20,USA,Basketball,Michael Jordan,198.0,98.0,3.0,08/08/1992,No
21,USA,Swimming,Michael Phelps,193.0,88.0,5.0,16/08/2004,NaN
22,UK,Track and Field,Mo Farah,176.0,65.0,5.0,05/08/2016,NaN
23,Romania,Gymnastics,Nadia Comaneci,155.0,50.0,5.0,18/08/1976,NaN
24,Serbia,Tennis,Novak Djokovic,188.0,84.0,4.0,10/08/2020,NaN
25,Brazil,Soccer,Pel√©,174.0,72.0,3.0,18/08/1970,NaN
26,Slovenia,Cycling,Primoz Roglic,186.0,68.0,3.0,05/08/2016,NaN
27,Spain,Tennis,Rafael Nadal,185.0,85.0,3.0,05/08/2016,No
28,Switzerland,Tennis,Roger Federer,185.0,85.0,2.0,28/07/2008,NaN
29,USA,Tennis,Serena Williams,175.0,70.0,4.0,01/08/2012,NaN
30,USA,Basketball,Shaquille O'Neal,216.0,147.0,1.0,22/08/2000,No
31,USA,Gymnastics,Shawn Johnson,157.0,50.0,3.0,15/08/2008,NaN
32,USA,Gymnastics,Simone Biles,142.0,48.0,5.0,05/08/2016,No
33,China,Swimming,Sun Yang,200.0,90.0,3.0,08/08/2012,NaN
34,Slovenia,Cycling,Tadej Pogacar,184.0,69.0,3.0,11/08/2020,NaN
35,Jamaica,Track and Field,Usain Bolt,195.0,94.0,6.0,22/08/2012,No
36,NaN,NaN,Wayne Gretzky,NaN,NaN,NaN,NaN,Yes
37,France,Soccer,Zinedine Zidane,185.0,80.0,3.0,17/08/1998,NaN