In [63]:
import numpy as py
from IPython.display import display
import pandas as pd
import matplotlib.pyplot as plt

In [64]:
df = pd.read_csv(r"C:\Users\PC\Desktop\AI Course - E-Com\files\Sales_Funnel_CRM.csv")
display(df)
# 1. 
company_per_product = pd.pivot_table(df, index='Company', columns='Product', values='Licenses', aggfunc='sum').fillna(0)
# 2. 
total_sales_per_company = pd.pivot_table(df[['Company', 'Licenses', 'Sale Price']], index='Company', values=['Licenses', 'Sale Price'] ,aggfunc='sum')

,Account Number,Company,Contact,Account Manager,Product,Licenses,Sale Price,Status
0,2123398,Google,Larry Pager,Edward Thorp,Analytics,150,2100000,Presented
1,2123398,Google,Larry Pager,Edward Thorp,Prediction,150,700000,Presented
2,2123398,Google,Larry Pager,Edward Thorp,Tracking,300,350000,Under Review
3,2192650,BOBO,Larry Pager,Edward Thorp,Analytics,150,2450000,Lost
4,420496,IKEA,Elon Tusk,Edward Thorp,Analytics,300,4550000,Won
5,636685,Tesla Inc.,Elon Tusk,Edward Thorp,Analytics,300,2800000,Under Review
6,636685,Tesla Inc.,Elon Tusk,Edward Thorp,Prediction,150,700000,Presented
7,1216870,Microsoft,Will Grates,Edward Thorp,Tracking,300,350000,Under Review
8,2200450,Walmart,Will Grates,Edward Thorp,Analytics,150,2450000,Lost
9,405886,Apple,Cindy Phoner,Claude Shannon,Analytics,300,4550000,Won
10,470248,Exxon Mobile,Cindy Phoner,Claude Shannon,Analytics,150,2100000,Presented
11,698032,ATT,Cindy Phoner,Claude Shannon,Tracking,150,350000,Under Review
12,698032,ATT,Cindy Phoner,Claude Shannon,Prediction,150,700000,Presented
13,902797,CVS Health,Emma Gordian,Claude Shannon,Tracking,450,490000,Won
14,2046943,Salesforce,Emma Gordian,Claude Shannon,Analytics,750,7000000,Won
15,2169499,Cisco,Emma Gordian,Claude Shannon,Analytics,300,4550000,Lost
16,2169499,Cisco,Emma Gordian,Claude Shannon,GPS Positioning,300,350000,Presented

# Questions
● Show in a new Dataframe how many licenses sold for each company from each product

● Show in a new Dataframe for each company what is the total amount of sale price and licences sold

Hint: you don’t need to use the original Dataframe as your pivot table source, you can reduce the
amount
of unused columns by creating a Dataframe from just the columns you need and then apply the pivot

In [66]:
# 1. 
display('Total licenses sold per company and product', company_per_product)
print("-" * 100)
# 2. 
display('The total sales and sale price per company', total_sales_per_company)

'Total licenses sold per company and product'

Product       Analytics  GPS Positioning  Prediction  Tracking
Company
 Google           150.0              0.0       150.0     300.0
ATT                 0.0              0.0       150.0     150.0
Apple             300.0              0.0         0.0       0.0
BOBO              150.0              0.0         0.0       0.0
CVS Health          0.0              0.0         0.0     450.0
Cisco             300.0            300.0         0.0       0.0
Exxon Mobile      150.0              0.0         0.0       0.0
IKEA              300.0              0.0         0.0       0.0
Microsoft           0.0              0.0         0.0     300.0
Salesforce        750.0              0.0         0.0       0.0
Tesla Inc.        300.0              0.0       150.0       0.0
Walmart           150.0              0.0         0.0       0.0

----------------------------------------------------------------------------------------------------

'The total sales and sale price per company'

              Licenses  Sale Price
Company
 Google            600     3150000
ATT                300     1050000
Apple              300     4550000
BOBO               150     2450000
CVS Health         450      490000
Cisco              600     4900000
Exxon Mobile       150     2100000
IKEA               300     4550000
Microsoft          300      350000
Salesforce         750     7000000
Tesla Inc.         450     3500000
Walmart            150     2450000